<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/navbar/navbar.css">
    <style>
        body {
    background: linear-gradient(100deg, #192653, #131D41);
    color: white;
        }
    </style>
    <title>About || Kourse</title>
</head>
<body>
     <!-- Navbar -->
     <nav>
        <h3>Kourse</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/job">Post&nbsp;a&nbsp;Job</a></li>
            <li><a href="/contact">Contact&nbsp;Us</a></li>
        </ul>
        <button>Sign Up</button>
    </nav>
    <h1>Page About</h1>
</body>
</html>