<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Landing Page</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <h3>Kourse</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/course">Course</a></li>
            <li><a href="/job">Post&nbsp;a&nbsp;Job</a></li>
            <li><a href="/contact">Contact&nbsp;Us</a></li>
        </ul>
        <button>Sign Up</button>
    </nav>

    <!-- Greeting -->
    <div class="hero">
        <h1>elevate your career to the next level</h1>
        <p>Get expert-led instruction from experienced professionals in Industry and gain valuable skills and knowledge that can be applied to your career or personal life.</p>
        <a href="/course"><button>Find a Course</button></a>
        <a href="/about">Learn More</a>
        
        <!-- Image -->
        <div class="course-img">
            <img src="assets/course.svg" alt="">
        </div>
    
    </div>

    <!-- what is kourse -->
    <div class="hero-ask">
        <div class="hero-ask-img">
            <img src="assets/ask.svg" alt="">
        </div>
        <div class="desc-ask">
        <h1>What is kourse ?</h1>
        <p>Get expert-led instruction from experienced professionals in Industry and gain valuable skills and knowledge that can be applied to your career or personal life.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus inventore debitis eligendi laboriosam placeat. Quam a pariatur ipsa nulla blanditiis enim, dolore excepturi modi cum non asperiores sit dolorum dicta.</p>
        <a href="/about"><button>See More</button></a>
        </div>
    </div>

    <!-- course -->
    <div class="hero-course">
        <h1>trending courses</h1>
        <div class="row">
            <div class="box">
                <img src="assets/img 2.svg" alt="">
                <div class="desc">
                    <a href="/category/web-programming"><button class="category">Web Programming</button></a>
                    <h2>Full Stack Developer</h2>
                    <p>Get expert-led instruction from experienced professionals in Industry...</p>
                    <a href="/course/full-stack-developer"><button class="get-course">Get Course</button></a>
                </div>
            </div>
            <div class="box">
                <img src="assets/img 2.svg" alt="">
                <div class="desc">
                    <a href="/category/iot"><button class="category">Internet Of Things</button></a>
                    <h2>Robotik</h2>
                    <p>Get expert-led instruction from experienced professionals in Industry...</p>
                    <a href="/course/robotik"><button class="get-course">Get Course</button></a>
                </div>
            </div>
            <div class="box">
                <img src="assets/img 2.svg" alt="">
                <div class="desc">
                    <a href="/category/web-designer"><button class="category">Web Designer</button></a>
                    <h2>UI/UX</h2>
                    <p>Get expert-led instruction from experienced professionals in Industry...</p>
                    <a href="/course/ui-ux"><button class="get-course">Get Course</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>